<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="scripts/jquery-3.1.1.js"></script>
    <script src="scripts/modernizr-custom.js"></script>
    <script src="scripts/placeholder.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="script/demoapp.js"></script>
</head>
<body ng-app="demoApp" ng-controller="demoController">
    this is {{name}}
    <form tag="Create Logon">
        <div align="center">
            <label for="name">
            </label>
            Username: <input placeholder="Enter your username" ng-model="user.username" required /><br />

            Password: <input placeholder="Enter your username" ng-model="pwd" /><br />

            Name *: <input placeholder="Enter your name" ng-model="name" /><br />

            Date of Birth *: <input type="date" placeholder="Enter date of birth" ng-model="dob" /><br />

            Email *: <input placeholder="ENter email Address" type="email" ng-model="email" /><br />

            Telephone: <input type="number" maxlength="10" ng-minlength="10" ng-model="tel" /><br />

            Address *: <input type="text" ng-model="add" value="Address" /><br />

            Post Code *: <input type="number" maxlength="6" name="ptc" /><br />


            <input type="submit" value="Submit" ng-disabled="false" />
        </div>
    </form>
    <!--<script>
            $('[placeholder]').focus(function () {
                var input = $(this);
                if (input.val() == input.attr('placeholder')) {
                    input.val('');
                    input.removeClass('placeholder');
                }
            }).blur(function () {
                var input = $(this);
                if (input.val() == '' || input.val() == input.attr('placeholder')) {
                    input.addClass('placeholder');
                    input.val(input.attr('placeholder'));
                }
            }).blur();

            $('[placeholder]').parents('form').submit(function () {
                $(this).find('[placeholder]').each(function () {
                    var input = $(this);
                    if (input.val() == input.attr('placeholder')) {
                        input.val('');
                    }
                })
            });

    </script>-->

    <script>


        var emailAddress = "gaurav.d.goyal@nhs.com";
        var orgShortName = "auh";
        var x=orgShortName.toLowerCase();
        var p = orgShortName.length;
        console.log("Size of orgShortName is " + p);

        if (n == 0) {
            console.log("Starting position of text of orgShortName in EmailAddress " + n);
        }
        if (!emailAddress.toLowerCase().includes(orgShortName.toLowerCase())) {
            emailAddress = orgShortName + "." + emailAddress;
        }
        var n = emailAddress.indexOf(x);
        console.log(emailAddress);
        if (emailAddress.toLowerCase().includes(orgShortName.toLowerCase())) {
            if (n == 0) {
                emailName = emailAddress.substring(p+1, emailAddress.indexOf("@"));
                console.log("Email Name is :" + emailName);
            }
            else {
                emailName = emailAddress.substring(0, emailAddress.indexOf("@"));
                console.log("Email Name is :" + emailName);
            }
        }
        else {
            if(emailAddress.indexOf("@")>0){
                emailName = emailAddress.substring(0, emailAddress.indexOf("@"));
                alert("Email Name is :" + emailName);
            }
            else{
                emailName = emailAddress.substring(0, emailAddress.length);
                alert("Email Name is : " + emailName);
            }
        }

    </script>
</body>
</html>
